.App{
  
}

input{
  width: 300px;
  height: 40px;
  margin: 10px;
}
button{
  width: 100px;
  height: 40px;
  margin: 8px;
  padding: 8px;
  font-size: 12px;
 background-color: orange;
 color: white;
  border-radius: 6px;
}
h1{
  font-family: monospace;
}
#delandcompTask{
  display: flex;
  flex-direction: row;
  align-items: center;
}
li{
  font-size: 25px;
  background-color: green;
 color: white;
}